In [1]:
--Drop procedure SPIncreaseSalaryOfEmp1

create procedure SPIncreaseSalaryOfEmp1
(@IncreaseSalary int)
as
Begin
DECLARE @EmpCount int,@Manager_id int
SELECT @EmpCount= count(e.employee_id),@Manager_id=e.manager_id from employees e join employees m on e.manager_id=m.employee_id where e.manager_id>0 GROUP by e.manager_id,m.salary
if(@EmpCount>1)
Begin
if(@IncreaseSalary>0)
begin
DECLARE @sal int
update employees  set Salary=(Salary+@IncreaseSalary) where Manager_id=@Manager_id
select @sal=salary from employees
RETURN @sal
end
else
print 'salary should be greater than 0'
End
else
print 'manager count not greater than 0'
End

: Msg 2714, Level 16, State 3, Procedure SPIncreaseSalaryOfEmp1, Line 3
There is already an object named 'SPIncreaseSalaryOfEmp1' in the database.

In [2]:
DECLARE @salary int
Exec @salary=SPIncreaseSalaryOfEmp1 100
select @salary as salary

salary
0