In [16]:


CREATE table Exercise1
 (  
   EmpId int,  
   Name varchar(100),  
   Department varchar(20),
   HireDate date ,
   Training int   
)

 insert into exercise1(EmpId,Name, Department, HireDate, Training) VALUES(1234,'J. Jones','Sales','06/18/1992', 24),(2345,'S.Smith', 'Production','02/12/1998',40),
 (3456,'A. Adamas','Sales','11/18/1998',60),(4567,'B. Bates','Advertising','03/10/1985',16),(5678,'D. Davis','Production','06/26/1999',56),(6789,'c. cole','Shipping','05/18/1991',32),
 (7890,'E. Ellis','Sales','12/15/1998',80),(8901,'F. Files','Advertising','10/17/1990',24),(9012,'G. Gates','Advertising','03/15/1999',48)

In [18]:
SELECT * FROM exercise1

EmpId,Name,Department,HireDate,Training
1234,J. Jones,Sales,1992-06-18,24
2345,S.Smith,Production,1998-02-12,40
3456,A. Adamas,Sales,1998-11-18,60
4567,B. Bates,Advertising,1985-03-10,16
5678,D. Davis,Production,1999-06-26,56
6789,c. cole,Shipping,1991-05-18,32
7890,E. Ellis,Sales,1998-12-15,80
8901,F. Files,Advertising,1990-10-17,24
9012,G. Gates,Advertising,1999-03-15,48

In [19]:
--Q  a.
select distinct department from exercise1

department
Advertising
Production
Sales
Shipping

In [21]:
--Q  b.
ALTER TABLE exercise1
ADD location VARCHAR(20)
UPDATE exercise1 SET  location= 'delhi' WHERE EmpId = 1234;
UPDATE exercise1 SET  location= 'mumbai' WHERE EmpId = 2345;
UPDATE exercise1 SET  location= 'bangaluru' WHERE EmpId = 3456;
UPDATE exercise1 SET  location= 'chennai' WHERE EmpId = 4567;
UPDATE exercise1 SET  location= 'kolkata' WHERE EmpId = 5678;
UPDATE exercise1 SET  location= 'pune' WHERE EmpId = 6789;
UPDATE exercise1 SET  location= 'hyderabad' WHERE EmpId = 7890;
UPDATE exercise1 SET  location= 'nagpur' WHERE EmpId = 8901;
UPDATE exercise1 SET  location= 'kochi' WHERE EmpId = 9012;

: Msg 207, Level 16, State 1, Line 4
Invalid column name 'location'.

In [25]:
--Q c
EXEC sp_rename 'exercise1.empid', 'EmployeeID';

: Msg 15225, Level 11, State 1, Procedure sp_rename, Line 436
No item by the name of 'exercise1.empid' could be found in the current database 'sql_Training1', given that @itemtype was input as '(null)'.

In [26]:
--Q d
select * from exercise1 WHERE department in ('sales','shipping')

EmployeeID,Name,Department,HireDate,Training
1234,J. Jones,Sales,1992-06-18,24
3456,A. Adamas,Sales,1998-11-18,60
6789,c. cole,Shipping,1991-05-18,32
7890,E. Ellis,Sales,1998-12-15,80

In [27]:
--Q e
select * from Exercise1 where HireDate  between '1992-01-01' and '1997-12-31'

EmployeeID,Name,Department,HireDate,Training
1234,J. Jones,Sales,1992-06-18,24

In [28]:
--Q f
Select Top 0 * into duplicate from Exercise1

: Msg 2714, Level 16, State 6, Line 2
There is already an object named 'duplicate' in the database.

In [19]:
--Q g
select * from Exercise1 where Training>40

EmployeeID,Name,Department,HireDate,Training,location
3456,A. Adamas,Sales,1998-11-18,60,bangaluru
5678,D. Davis,Production,1999-06-26,56,kolkata
7890,E. Ellis,Sales,1998-12-15,80,hyderabad
9012,G. Gates,Advertising,1999-03-15,48,kochi

In [24]:
--Q h
Select * into clone from Exercise1

select * from clone

EmployeeID,Name,Department,HireDate,Training,location
1234,J. Jones,Sales,1992-06-18,24,delhi
2345,S.Smith,Production,1998-02-12,40,mumbai
3456,A. Adamas,Sales,1998-11-18,60,bangaluru
4567,B. Bates,Advertising,1985-03-10,16,chennai
5678,D. Davis,Production,1999-06-26,56,kolkata
6789,c. cole,Shipping,1991-05-18,32,pune
7890,E. Ellis,Sales,1998-12-15,80,hyderabad
8901,F. Files,Advertising,1990-10-17,24,nagpur
9012,G. Gates,Advertising,1999-03-15,48,kochi

In [32]:
--Q i
DELETE from Exercise1 WHERE Training>60

select * from Exercise1

EmployeeID,Name,Department,Training
1234,J. Jones,Sales,24
2345,S.Smith,Production,40
3456,A. Adamas,Sales,60
4567,B. Bates,Advertising,16
5678,D. Davis,Production,56
6789,c. cole,Shipping,32
8901,F. Files,Advertising,24
9012,G. Gates,Advertising,48
NULL,thor,energy,55

In [31]:
--Q j
ALTER TABLE exercise1 drop COLUMN HireDate
select * from Exercise1

EmployeeID,Name,Department,Training
1234,J. Jones,Sales,24
2345,S.Smith,Production,40
3456,A. Adamas,Sales,60
4567,B. Bates,Advertising,16
5678,D. Davis,Production,56
6789,c. cole,Shipping,32
7890,E. Ellis,Sales,80
8901,F. Files,Advertising,24
9012,G. Gates,Advertising,48
NULL,thor,energy,55

In [30]:
--Q k
ALTER TABLE exercise1  ALTER COLUMN department VARCHAR(34)

In [29]:
--Q l
INSERT into Exercise1(Name,Department,Training) VALUES('thor','energy',55)
select * from Exercise1

EmployeeID,Name,Department,HireDate,Training
1234,J. Jones,Sales,1992-06-18,24
2345,S.Smith,Production,1998-02-12,40
3456,A. Adamas,Sales,1998-11-18,60
4567,B. Bates,Advertising,1985-03-10,16
5678,D. Davis,Production,1999-06-26,56
6789,c. cole,Shipping,1991-05-18,32
7890,E. Ellis,Sales,1998-12-15,80
8901,F. Files,Advertising,1990-10-17,24
9012,G. Gates,Advertising,1999-03-15,48
NULL,thor,energy,NULL,55